.oj-table-column-header-cell{
    background: #3b3b6d !important;
}

.oj-table-column-header-text{
    color: #fff !important;
    font-weight: bold;
    font-size: 1.25em;
}

.oj-table-data-cell{
    background: rgba(0,95,105,0.25);
}

.avlblVal{
    padding: 0.5em;
    color: rgb(255, 255, 255);
    max-width: 1.25em !important;
    border-radius: 5px;
    box-shadow: 0 0 3px #000;
    text-align: center;
}